@page "/"
@using Frontend.Components
@using Frontend.Models
@using Frontend.Services
@inject StorageService Storage
@inject ApiService Api
@inject IJSRuntime JS

<PageTitle>Home</PageTitle>

<AdminSlider/>

<h1 style="justify-self: center">The Retard Cube</h1>

<div class="row justify-content-center no-row-margin">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
        <UploadMeme/>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
        <DownloadMeme/>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
        <DeleteMeme/>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
        <RegisterUser/>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
        <Login/>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
        
    </div>
</div>

<Dashboard/>

@code
{
    // Change it to min-height instead of just height.
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JS.InvokeVoidAsync("maxHeight.equalHeight");
    }
}
