.meme-row {
    background-color: #00d3d3;
    align-items: center;
    border-radius: 5px;

    .meme-row__image {
        width: 100px;
        height: 60px;
        object-fit: cover;
        object-position: top;
    }
}